/* -------------------------------------------------------------------------
 * GENERALES
 * ------------------------------------------------------------------------- */
body {
    background: #0e0c12;
}


/* -------------------------------------------------------------------------
 * PIE DE PÁGINA
 * ------------------------------------------------------------------------- */
 footer {
    width: 100vw;
    height: 100px;
    background: #9181bc;
    margin-top: 10%;
}